{% extends "base.html" %}
{% block content %}
    <h1>Sweet</h1>
    <p>Welcome to SweetWeet! We are a social media platform designed for sweet enthusiasts to share their love for all things sugary. Our community is filled with people from all around the world who come together to connect, share, and discover new sweet treats. Whether you're a professional baker or just love to indulge in desserts, SweetWeet is the perfect place for you. Join us today and start sharing your favorite sweets with the world!</p>
{% endblock content %}